.catalog-card-badge {
  top: 1rem;
  inset-inline-start: 1rem;
}

.course-card-badge {
  background-color: #DBD0FE;
  color: #411E65;
}

.pathway-card-badge {
  background-color: var(--pgn-color-info-200);
  color: var(--pgn-color-info-900);
}
